/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introduction figure > div {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 80%;
}
#introduction img {
  width: 100%;
}

#introduction article {
  flex: 1;
  align-self: flex-start;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.mes-projets-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ============ FILTERS ============ */

.filtersContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 1em;
  margin: 50px 0;
}

.filter-button {
  background-color: white;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  color: #1d6154;
  padding: 10px;
  min-width: 100px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.2s;
}

.filter-button:hover {
  background-color: #1d6154;
  color: white;
}

.selectedInput {
  background-color: #1d6154 !important;
  color: white !important;
}

/* ============ LOG IN PAGE ============ */

body {
  background: #fffef8;
}

.main-of-login-page {
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
}

.main-of-login-page > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main-of-login-page > form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.main-of-login-page > form > div > input {
  width: 380px;
  height: 50px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.main-of-login-page > form > div > button {
  background-color: #1d6154;
  color: white;
  padding: 10px 39px;
}

.login-error-msg {
  color: red;
  align-self: center;
  visibility: hidden;
}

.main-of-login-page > form > a {
  text-decoration: underline;
}

.footer-of-login-page {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 60px;
  width: 100%;
}

.footer-of-login-page > nav > ul {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 100px;
  margin: 0;
}

.footer-of-login-page > nav > ul > li {
  /* margin-right: 100px; */
}

/* ============ ADMIN MODE ============ */

.admin-headband {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.edition-mode {
  color: white;
}

.edition-mode > i {
  color: white;
}

.admin-headband > button {
  background-color: white;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  min-width: 100px;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.2s;
}

.admin-headband > button:hover {
  background-color: lightgray;
}

i {
  padding-right: 8px;
}

.editButton {
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
  transition: text-shadow 0.2s;
}

.editButton:hover {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.filter-button:hover {
  background-color: #1d6154;
  color: white;
}

#introduction button {
  align-self: flex-start;
}

.cloudy-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  z-index: 3;
  width: 80%;
  height: 75vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-portfolio {
  max-width: 100%;
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
  padding: 0 100px;
}

.modal-portfolio > figure {
  width: 15%;
}

.modal-portfolio > figure > img {
  width: 100%;
}
